# Directories
.vscode/
.vs/
build/
build_clang/
build_gcc/
build_msvc/
cmake/
include/
lib/
lib_src/
notes/
PinkPearl-cppcheck-build-dir/
resources/assets/
resources/data/

# Misc files
*.bak
*.json
*.cppcheck